<md-dialog aria-label="Create card" ng-cloak>
    <form ng-submit="create()">
        <md-dialog-content layout="column" class="md-padding" style="max-width:800px;max-height:810px; ">
            <h2 class="md-title">Create card</h2>
            <md-input-container>
                <label>Title</label>
                <input ng-model="newTeam.Name" type="text" required>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions">
            <md-button ng-click="cancel()" type="button">Cancel</md-button>
            <md-button type="submit" class="md-primary">Create</md-button>
        </div>
    </form>
</md-dialog>