<!DOCTYPE html>
<html ng-app="tasksApp">
<head>
    <meta charset="utf-8" />
    <title>Tasks</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

    <!-- AngularJS Matirial -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>

    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="tasksController">
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="task in Tasks">
                <md-checkbox ng-model="item.done"></md-checkbox>
                <div class="md-list-item-text">
                    <h3>{{item.Id}}</h3>
                    <p>{{item.Title}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</body>
</html>